@import "../global.scss";
.navbar {
  position: fixed;
  bottom: rem(10px);
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 15;
  .list {
    list-style: none;
    display: flex;
    padding: rem(8px) rem(12px);
    border-radius: rem(16px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(67, 69, 77, 0.3);
    background-color: $black-dark;
    &__item {
      border: 1px solid transparent;
      border-radius: rem(6px);

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
      }
      padding: rem(2px) rem(6px);
      span {
        display: none;
        font-size: rem(12.8px);
        font-weight: 500;
      }
      svg {
        margin-right: 0px;
        width: 38px;
        height: 38px;
        padding: 8px;
        border-radius: 8px;
        path {
          transition: 0.3s;
          fill: $light-violet-50;
        }
      }
      &:hover {
        svg {
          path {
            fill: $light-violet-25;
          }
        }
      }
      &--active {
        @extend .list__item;
        a {
          cursor: default;
        }
        span {
          display: block;
          color: $full-white;
        }
        svg {
          margin-right: rem(6px);
          background-color: $dark-lemon;

          path {
            fill: $light-lemon;
          }
        }
        &:hover {
          svg {
            path {
              fill: $light-lemon;
            }
          }
        }
      }
    }
  }
}
