@import "../global.scss";
.navbar {
  position: fixed;
  bottom: rem(10px);
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 15;
  //TODO Review this class
  .list {
    list-style: none;
    display: flex;
    padding: rem(8px) rem(12px);
    background-color: rgba(38, 63, 97, 0.32);
    border-radius: rem(16px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(38, 63, 97, 0.32);

    &__item {
      border: 1px solid transparent;
      border-radius: rem(6px);

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
      }
      padding: rem(8px) rem(14px);
      span {
        display: none;
        font-size: rem(12.8px);
        font-weight: 500;
      }
      svg {
        margin-right: 0px;
        path {
          fill: rgb(186 217 252/1);
        }
      }
      &--active {
        @extend .list__item;
        background-color: rgb(24 39 63);
        border-color: rgba(50, 138, 241, 0.2);
        span {
          display: block;
          color: rgb(50 138 241);
        }
        svg {
          margin-right: rem(6px);

          path {
            fill: rgb(50 138 241);
          }
        }
      }
    }
  }
}
