@import "../global.scss";

.card {
  position: relative;
  color: rgb(255 255 255);
  background-color: rgb(24 39 63);
  border-radius: rem(14.944px);
  width: 100%;
  height: auto;
  margin-top: rem(8px);
  opacity: 0.8;
  transition: 0.3s;

  &__overlay {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%);
    border-radius: rem(14.944px);
  }
  &__aside {
    position: relative;
    height: 100%;
    border-radius: rem(14.944px);
    transition: 0.3s;

    .card__image {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: rem(14.944px) rem(14.944px) 0 0;
      border-radius: rem(14.944px);
    }
    .card__status {
      position: absolute;
      top: rem(4px);
      right: rem(8px);
      font-size: rem(12px);
      font-weight: 500;
      z-index: 15;
      height: rem(20px);
      padding: rem(1px) rem(12px) rem(1px) rem(16px);
      background-color: transparent;
      color: $white;
      border-radius: rem(9999px);
      font-size: 0.6666rem;
      font-size: 0.6rem;
      font-weight: 500;
      line-height: 1.9;

      i {
        content: "";
        position: absolute;
        top: 50%;
        left: rem(7px);
        margin-top: rem(-3px);
        background-color: $white;
        width: rem(6px);
        height: rem(6px);
        box-shadow: 0 -1px 1px 0 rgb(0 0 0 / 30%);
        border-radius: 50%;
      }
      &--in-progress {
        @extend .card__status;
        background-color: rgb(24 39 63);
      }
      &--completed {
        @extend .card__status;
        background-color: #4e89da;
      }
    }
    .card__header {
      padding: rem(8px) rem(10px);
      padding-left: 1.2rem;
      padding-right: 1.2rem;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 15;

      .card__title {
        font-size: rem(17px);
        font-weight: 600;
        line-height: 1.4;
        font-size: 1.3rem;
        font-size: rem(15px);
        font-family: $font-family-cabin;
        letter-spacing: 0.02rem;
      }

      .card__date {
        display: flex;
        align-items: center;
        column-gap: 0.75rem;
        color: rgba(186, 217, 252, 0.75);
        &-text {
          display: flex;
          align-items: center;
          font-weight: 600;
          font-weight: 600;
          font-size: rem(11px);

          svg {
            margin-right: rem(4px);
            height: rem(18px);
            width: rem(18px);
            path {
              stroke: $white;
            }
          }
        }
        &-decoration {
          width: rem(140px);
          height: 1px;
          background-color: rgb(120 144 156);
        }
      }
    }
  }

  &__body {
    padding: 0px rem(8px) rem(10px);
    height: 0px;
    transition: 0.4s;
    display: none;
    overflow-y: hidden;
    padding-top: rem(11.2px);
    padding-left: rem(19.2px);
    padding-right: rem(19.2px);

    .card__description {
      color: rgb(255 255 255);
      line-height: 1.7;
      font-size: rem(12.59px);
      font-family: $font-family-poppins;
      margin-bottom: rem(8px);
    }
    .button--toggle {
      cursor: pointer;
      outline: none;
      border: none;
      background-color: transparent;
      text-decoration: underline;
      color: rgb(50, 138, 241);
      font-weight: 600;
      transition: 0.3s;
      &:hover {
        color: rgba(50, 138, 241, 0.6);
      }
    }
    .badge {
      &__wrapper {
        margin-top: rem(6px);
      }
      background-color: rgb(32 55 89);
      border-color: $gray;
      box-shadow: inset 0 2px 4px rgb(0 0 0 / 15%);
      padding: rem(2px) rem(5px) rem(2px) rem(4px);
      color: $light-gray;
      text-decoration: none;
      white-space: nowrap;
      cursor: pointer;
      border-radius: rem(3px);
      font-size: rem(11px);
      font-weight: 700;
      line-height: rem(14px);
      display: inline-flex;
      margin-right: rem(6px);
      align-items: center;
      &__icon {
        width: rem(12px);
        height: rem(12px);
        margin-right: rem(3px);
        filter: grayscale(1);
        transition: 0.3s;
      }
      &:hover {
        background-color: rgba(50, 138, 241, 0.4);
        color: rgb(186 217 252);

        .badge__icon {
          filter: grayscale(0);
        }
      }
    }
  }
  &__footer {
    padding: rem(8px) rem(24px);
    border-radius: 0 0 rem(8px) rem(8px);
    display: flex;
    justify-content: end;
    flex-direction: column;
    max-width: rem(420px);
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    padding-bottom: 1rem;
    gap: rem(12.48px);
    .card__button {
      text-decoration: none;
      transition: 0.4s;
      background-clip: padding-box;
      border-color: transparent;
      border-radius: rem(16px);
      border-width: 1px;
      align-items: center;
      background-color: rgba(50, 138, 241, 0.1);
      display: inline-flex;
      justify-content: center;
      color: rgb(34 34 34);
      font-size: rem(12px);
      font-weight: 600;
      letter-spacing: rem(0.2px);
      line-height: 1.15;
      max-width: 30rem;
      padding: rem(16px) rem(22px);
      position: relative;
      text-align: center;
      text-transform: none;
      transition-duration: 0.15s;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;

      svg {
        height: rem(13px);
        width: rem(13px);
        margin-right: rem(8px);
      }
      &--primary {
        @extend .card__button;
        background-color: $black-darker;
        --tw-gradient-from: #328af1;
        --tw-gradient-stops: var(--tw-gradient-from),
          var(--tw-gradient-to, rgba(50, 138, 241, 0));
        --tw-gradient-to: #328af1;
        background-image: linear-gradient(to right, var(--tw-gradient-stops));
        color: rgb(255 255 255 / var(--tw-text-opacity));
        outline: none;
        border: 1px solid transparent;
        color: $white;
        svg {
          path {
            fill: $white;
          }
        }
      }
      &--secondary {
        @extend .card__button;
        outline: none;
        color: $white;
        border: 1px solid rgba(50, 138, 241, 0.1);
        svg {
          g {
            stroke: $white;
          }
        }
      }
    }
  }
  &--active {
    @extend .card;
    opacity: 1;
    .card {
      &__overlay {
        border-radius: rem(14.944px) rem(14.944px) 0 0;
      }
      &__aside {
        height: rem(180px);
        border-radius: rem(14.944px) rem(14.944px) 0 0;
        .card__image {
          border-radius: rem(14.944px) rem(14.944px) 0 0;
        }
      }
      &__body {
        height: auto;
        display: block;
      }
      &__footer {
        opacity: 1;
      }
    }
  }
}
