@import "../global.scss";
@import "./projectCardMobile.scss";

.project-card {
  @extend .card;
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  transform: translateY(0px);
  height: 80vh;

  .card__overlay {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%);
    border-radius: rem(14.944px) rem(14.944px) 0 0;
  }
  .card__aside {
    position: relative;
    transition: 0.3s;
    height: rem(280px);
    border-radius: rem(14.944px) rem(14.944px) 0 0;

    .card__image {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: rem(14.944px) rem(14.944px) 0 0;
    }
    .card__status {
      position: absolute;
      top: rem(14px);
      right: rem(24px);
      z-index: 15;
      height: rem(20px);
      padding: rem(1px) rem(12px) rem(1px) rem(16px);
      background-color: transparent;
      color: $black-30;
      border-radius: rem(9999px);
      font-size: rem(9.6px);
      font-weight: 700;
      line-height: 1.9;

      i {
        content: "";
        position: absolute;
        top: 50%;
        left: rem(7px);
        margin-top: rem(-3px);
        background-color: $black-30;
        width: rem(6px);
        height: rem(6px);
        box-shadow: 0 -1px 1px 0 rgb(0 0 0 / 30%);
        border-radius: 50%;
      }
      &--in-progress {
        @extend .card__status;
        background-color: $light-blue;
      }
      &--completed {
        @extend .card__status;
        background-color: $light-violet;
      }
    }
    .card__header {
      padding: rem(14px) rem(24px);
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 15;
      width: 100%;
      .card__title {
        font-weight: 600;
        line-height: 1.4;
        font-size: rem(19px);
        font-family: $font-family-cabin;
        letter-spacing: 0.02rem;
      }

      .card__date {
        display: flex;
        align-items: center;
        column-gap: rem(12px);
        color: $light-violet;

        &-text {
          display: flex;
          align-items: center;
          font-weight: 600;
          font-size: rem(12.872px);
        }
        &-decoration {
          width: calc(100% - rem(100px));
          height: 1px;
          background-color: $light-violet;
        }
      }
    }
  }

  .card__body {
    padding: rem(17.2px) rem(24px) rem(10px);
  }
  .card__footer {
    padding: rem(16px) rem(24px);
    border-radius: 0 0 rem(8px) rem(8px);
    display: flex;
    justify-content: start;
    flex-direction: row;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    gap: rem(12.48px);
    .card__button {
      min-width: rem(180px);
    }
  }
}
