@import "../global.scss";

.tab {
  display: flex;
  width: 100%;
  overflow: auto;
  border-radius: 8px 8px 0 0;
  padding-top: 8px;
  background-image: linear-gradient(to right, transparent, transparent),
    linear-gradient(to right, transparent, transparent),
    linear-gradient(to right, rgba(50, 138, 241, 0.1), transparent),
    linear-gradient(to left, rgba(50, 138, 241, 0.1), transparent);
  background-position: left center, right center, left center, right center;
  background-repeat: no-repeat;
  background-color: rgba(24, 39, 63, 1);
  background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
  background-attachment: local, local, scroll, scroll;

  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    height: 0px;
  }
  &::-webkit-scrollbar * {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0) !important;
  }

  &__navigation {
    .tab {
      &__list {
        display: flex;
        list-style: none;
        display: flex;
        overflow-x: auto;
      }
      &__item {
        font-size: rem(13.56px);
        padding: rem(8px) rem(16px) rem(16px);
        border-bottom: 2px solid transparent;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: rgba(186, 217, 252, 0.3);
        cursor: pointer;
        position: relative;
        &--active {
          @extend .tab__item;
          font-weight: 600;
          color: $white;
          &::before {
            content: "";
            background-color: rgb(50 138 241);
            border-radius: rem(14.944px);
            bottom: 0px;
            height: rem(5px);
            width: 100%;
            left: 0px;
            pointer-events: none;
            position: absolute;
            transition: opacity 0.3s;
          }
        }
      }
    }
  }
  &__panel {
    width: 100%;
    border-radius: 0 0 8px 8px;
    background-color: rgb(24 39 63);
    min-height: 60vh;
    display: grid;
    padding: rem(8px);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, rem(80px));
    padding-top: rem(16px);

    grid-column-gap: rem(8px);
    grid-row-gap: rem(8px);
    position: relative;
    &::before {
      content: "";
      background: linear-gradient(
        90deg,
        transparent 0%,
        rgba(255, 255, 241, 0.2) 50%,
        transparent 100%
      );

      position: absolute;
      left: 0;
      top: rem(-2px);
      width: 100%;
      height: 1px;
    }
    .block {
      cursor: pointer;
      transition: 0.3s;
      background-color: rgba(50, 138, 241, 0.03);
      border-radius: rem(6px);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      &__image {
        width: rem(48px);
        height: rem(48px);
      }
      &__text {
        font-size: rem(12px);
        font-family: $font-family-cabin;
        color: $white;
        font-weight: 600;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: rem(58px);
        overflow-x: hidden;
      }
      &:hover {
        background-color: rgb(25 48 78);
      }
    }
  }
}
