@import "../global.scss";

.home-page {
  height: 100vh;
  padding: rem(0px) rem(24px);

  .hero {
    display: flex;
    align-items: center;
    height: 80vh;
    @media screen and (max-width: 1023px) {
      height: 100%;
      flex-direction: column-reverse;
    }
    &__wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    &__images {
      display: flex;
      flex-direction: column;
      place-content: center;
      justify-content: center;
      width: 100%;
      .hero__profile {
        display: grid;
        border-radius: 50%;
        align-self: center;
        background-color: $soft-gray;
        width: rem(150px);
        height: rem(150px);
        margin-top: rem(48px);
        @media screen and (min-width: 1024px) {
          display: none;
        }
      }
      .hero__socials {
        text-align: center;
        margin: rem(8px) auto;

        @media screen and (min-width: 1024px) {
          position: absolute;
          top: rem(320px);
          right: 24px;
          display: flex;
          flex-direction: column;
          gap: rem(8px);
          &::before {
            content: "";
            position: absolute;
            top: 6rem;
            right: 1.5rem;
            width: 1px;
            height: rem(170px);
            background-color: $light-violet-50;
          }
        }
        a {
          text-decoration: none;
          border: none;
          outline: none;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          border-radius: 0.4rem;
          height: 2.3rem;
          width: 2.3rem;
          margin-right: rem(8px);
          transition: background-color 0.3s, border 0.3s;
          background-color: $gray;
          svg {
            height: rem(36.8px);
            width: rem(36.8px);
            path {
              fill: $white;
            }
          }
          &:hover {
            background-color: $gray-40;
          }
        }
      }
    }
    &__headline {
      line-height: 1.25;
      font-size: rem(28.2px);
      font-weight: 600;
      color: $full-white;
      letter-spacing: 0.02rem;
      @media (min-width: 426px) {
        font-size: rem(30.2px);
      }
    }
    &__subheadline {
      color: $light-violet;
      font-weight: 500;
      margin-top: rem(11.2px);
      letter-spacing: 0;
      font-family: $font-family-poppins;
      display: inline-block;
      max-width: rem(530px);
      display: none;

      @media (min-width: 768px) {
        display: inline-block;
      }

      &--short {
        @extend .hero__subheadline;
        color: $light-violet;
        font-weight: 500;
        margin-top: rem(11.2px);
        letter-spacing: 0;
        font-family: $font-family-poppins;
        display: inline-block;
        @media (min-width: 768px) {
          display: none;
        }
      }
    }
    &__footer {
      margin-top: rem(12px);
      @media (min-width: 426px) {
        display: flex;
        gap: rem(16px);
      }
      .button {
        width: 100%;
        margin-top: rem(14px);
        border-color: transparent;
        font-size: rem(12.8px);
        font-weight: 600;
        padding: rem(12px) rem(32px);
        transition: 0.3s;
        font-family: $font-family-poppins;
        @media (min-width: 426px) {
          max-width: rem(240px);
        }
        &--primary {
          @extend .button;
          --tw-gradient-from: #ccf148;
          --tw-gradient-stops: var(--tw-gradient-from),
            var(--tw-gradient-to, rgba(50, 138, 241, 0));
          --tw-gradient-to: #ccf148;
          background-image: linear-gradient(to right, var(--tw-gradient-stops));
          color: $black;
          &:hover {
            --tw-gradient-from: #ccf148;
            --tw-gradient-stops: var(--tw-gradient-from),
              var(--tw-gradient-to, rgba(50, 138, 241, 0));
            --tw-gradient-to: #b3dd62;
            background-image: linear-gradient(
              to right,
              var(--tw-gradient-stops)
            );
            color: $black;
            box-shadow: 0 0 8px 1px rgba(204, 241, 72, 0.2);
          }
        }
        &--secondary {
          @extend .button;
          color: $full-white;
          background-color: $black-50;
          border-color: rgba(75, 80, 109, 0.3);
          transition: background-color border-color 0.3s;

          &:hover {
            background-color: $gray-30;
            border-color: $gray-30;
            color: $full-white;
            box-shadow: 0 0 16px 1px rgba(57, 56, 61, 0.3);
          }
        }
      }
    }
  }
}
