@import "../global.scss";

.projects {
  &-page {
    min-height: 100vh;
    height: 100%;
    padding: 0px 0px rem(96px);
  }
  &__container {
    display: flex;
    column-gap: rem(24px);
    max-width: rem(1166px);
    margin: 0 auto;
  }
  &__cards {
    display: grid;
    row-gap: rem(12px);

    @media screen and (min-width: 769px) {
      display: none;
    }
  }
}
