@import "./px-to-rem.scss";

html {
  font-size: $rem-base;
  min-height: 100vh;
  body {
    min-height: 100vh;
    font-family: $font-family-poppins;
    color: $full-white;
    font-size: rem(16px);
    line-height: 1.3;
    background-color: $black-darker;
    background-image: url("../src/assets/upper-gradient.svg");
    background-repeat: no-repeat;
    background-size: 55%;
  }
  * {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  }
  p {
    font-family: $font-family-poppins;
  }
  b,
  strong {
    font-weight: 700;
  }

  //Header titles
  .header {
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    &__title {
      font-size: rem(34.5px);
      line-height: 1.25;
      font-weight: 600;
      font-family: $font-family-cabin;
      letter-spacing: 0.02rem;
      color: $white;
    }
    &__caption {
      font-weight: 500;
      margin-top: 1rem;
      font-size: rem(13.5px);
      letter-spacing: 0;
      color: $light-violet;
    }
  }
}
