@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,500;0,600;1,400&family=Poppins:wght@400;500;600&display=swap");

//? ______________COLOR STYLES

//Base

//Success
//Errors
//Warning

//Gray Scale
$black-darker: #242724;
$black-dark: #313431;
$ash-gray: #313330;
$gray: #4d4f4c;
$soft-gray: #adafac;
$light-gray: #bcbebb;
$white: #e9ebe8;
//==========================
// $primary: #328af1;
// $orange100: #f8dcd8;
// $gray900: #2a2727;
// $gray850: #433f3f;
// $gray825: #4d4949;
// $gray600: #bad9fc;
// $gray300: #aba2a1;
// $gray200: #d1caca;

// .bg-blue {
//   &-10 {
//     background-color: rgba(50, 138, 241, 0.1);
//   }
//   &-15 {
//     background-color: rgba(50, 138, 241, 0.15);
//   }
// }
// //Text Colors
// .text-grey {
//   &-600 {
//     color: rgb(186 217 252);
//   }
// }
//body
//fonts

//? ______________FONTS
$rem-base: 16;
$font-family-poppins: "Poppins", sans-serif;
$font-family-cabin: "Cabin", sans-serif;
