@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,500;0,600;1,400&family=Poppins:wght@400;500;600&display=swap");
//? ______________COLOR STYLES
//Gray Scale
$black-darker: #1f1f21;
$black-dark: #1e1f1c;
$black: #211f27;
$black-30: #303238;
$black-50: #2e3032;
$ash-gray: #2d2d31;
$gray: #36353a;
$gray-40: #454749;
$gray-30: #39383d;
$soft-gray: rgba(147, 154, 174, 0.5);
$soft-gray-25: rgba(147, 154, 174, 0.25);

$light-gray: #bcbebb;
$white: #e9ebe8;
$full-white: #f8f8f8;
//Primary
$light-lemon: #b3dd62;
$lemon: #ccf148;
$lemon-70: rgba(204, 241, 72, 0.7);
$dark-lemon: #34382b;
//Secondary
$light-blue: #77ddde;
$light-violet: #bdb0f4;
$light-violet-50: #5d646c;
$light-violet-25: rgba(186, 217, 252, 0.7);

// $bgc-navbar: #1e1f1c;
$color-item: #5d646c;
$color-item-hover: rgba(186, 217, 252, 0.7);

//? ______________FONTS
$rem-base: 16;
$font-family-poppins: "Poppins", sans-serif;
$font-family-cabin: "Cabin", sans-serif;
