@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");

//? ______________COLOR STYLES

//Base

//Success
//Errors
//Warning

//Gray Scale
$black-darker: #242724;
$black-dark: #313431;
$ash-gray: #313330;
$gray: #4d4f4c;
$soft-gray: #adafac;
$light-gray: #bcbebb;
$white: #e9ebe8;

//Text Colors
//body
//fonts

//? ______________FONTS
$rem-base: 16;
$font-family-sspro: "Source Sans Pro", sans-serif;
$font-family-montserrat: "Montserrat", sans-serif;
