---
import Layout from "../layouts/Layout.astro";
---

<!-- About me
Hello, my name is Arnold I am fullstack javascript developer. I like programming and I've been doing it for a long time, I work mainly with the MERN stack, some of my hobbies are reading, watching anime and cycling. I consider myself a person who adapts and learns fast every day. --><!-- I would like to learn... -->
<Layout title="About me">
  <h2>About me</h2>
</Layout>
