---
//  My Projects  List of projects  View of project
import Layout from "../layouts/Layout.astro";
import ProjectCardMobile from "../components/ProjectCardMobile";
import ProjectPicker from "../components/ProjectPicker";
import "../styles/pages/projects.scss";

const PROJECTS = [
  {
    id: "leecp4vbtk98nux0bvd",
    title: "Sparky Solutions",
    description:
      "This website was built using Next.js and pure CSS, with the help of the styled components library for a single reusable React component. The site is fully responsive and features three pages: home, about, and contact us.",
    date: "Dec 31, 2022",
    status: "Completed",
    repo: "https://github.com/whoknowsi/sparky-solutions",
    website: "https://whoknowsi.github.io/sparky-solution/",
    tags: [
      { icon: "html", text: "HTML" },
      { icon: "css", text: "CSS" },
      { icon: "javascript", text: "Javascript" },
      { icon: "react", text: "React" },
    ],
    img: [
      "https://whoknows-portfolio.vercel.app/_next/image?url=https%3A%2F%2Fraw.githubusercontent.com%2Fwhoknowsi%2Fsparky-solutions%2Fmain%2Fscreenshots%2Fcontact.png&w=1920&q=75",
    ],
  },
  {
    id: "leecpfctqb0ff06mbtf",
    title: "Personal data API",
    description:
      "My public REST API for personal information. Use HTTP requests to view my certificates, projects, studies, work experience and more. This API is built with MongoDB, Mongoose, Express, and Node.js, and follows REST architecture. I am also using Jest for testing. This API is being consumed by my portfolio.",
    date: "Jan 01, 2023",
    status: "Completed",
    repo: "https://github.com/whoknowsi/personal-data-api",
    website: "https://personal-data-api.vercel.app/",
    tags: [
      { icon: "html", text: "HTML" },
      { icon: "css", text: "CSS" },
      { icon: "javascript", text: "Javascript" },
      { icon: "node", text: "NodeJS" },
    ],
    img: [
      "https://whoknows-portfolio.vercel.app/_next/image?url=https%3A%2F%2Fraw.githubusercontent.com%2Fwhoknowsi%2Fpersonal-data-api%2Fmaster%2Fscreenshots%2Ftest-coverage.png&w=1920&q=75",
    ],
  },
  {
    id: "leecpov966pulsrndw7",
    title: "PedidosYa Scraper API",
    description:
      "I am implementing a project that uses web scraping via Playwright to gather information from PedidosYa. I am then utilizing Cloudflare Workers and Hono to create an API for the collected information. The data is stored in JSON files and images are optimized using the Sharp library. These files are periodically uploaded to a MongoDB for backup.",
    date: "Jan 01, 2023",
    status: "In progress",
    repo: "https://github.com/whoknowsi/pedidosya-scraper-api/",
    website: "",
    tags: [
      { icon: "javascript", text: "Javascript" },
      { icon: "node", text: "NodeJS" },
    ],
    img: [
      "https://whoknows-portfolio.vercel.app/_next/image?url=https%3A%2F%2Fraw.githubusercontent.com%2Fwhoknowsi%2Fpedidosya-scraper-api%2Fmaster%2Fscreenshots%2Fproducts.png&w=1920&q=75",
    ],
  },
];
---

<Layout title="Projects">
  <div class="container">
    <section class="projects-page">
      <header class="header">
        <h3 class="header__title">Projects</h3>
        <p class="header__caption">
          Curious what's new at Gonchesan? The projects have been recently
          updated.
        </p>
      </header>
      <div class="projects__cards">
        {
          PROJECTS.map((project) => (
            <ProjectCardMobile client:load projectData={project} />
          ))
        }
      </div>
      <ProjectPicker client:load projectsData={PROJECTS} />
    </section>
  </div>
</Layout>
